extends layout

block content
  .container
    h1 Felhaszn치l칩k
    .row   
      .col-12 
        a.btn.btn-primary.btn-block(href="/users/create") Hozz치ad치s
    table.table.table-striped
      thead 
        tr 
          th #
          th Name
          th Age 
          th Email 
          th Birthdate
          th 
      tbody 
        - var nth = 0
        each user in users 
          - nth++
          tr 
            td= nth 
            td= user.name 
            td= user.age 
            td= user.email
             - var bd = new Date(user.bd);
             - var bdArray = [bd.getFullYear(), bd.getMonth()+1, bd.getDate()];
             - bdArray[1] = bdArray[1] < 10 ? "0"+bdArray[1] : bdArray[1];
             - bdArray[2] = bdArray[2] < 10 ? "0"+bdArray[2] : bdArray[2];
             - var bdString = bdArray.join('-'); 
            td= bdString 
            td 
              .btn-group 
                - var infoUrl = '/users/show/' + user._id
                a.btn.btn-info(href=infoUrl) info
                - var deleteUrl = '/users/delete/' + user._id
                a.btn.btn-danger.delete-user-btn(href=deleteUrl) delete
            
